---
layout: page
title: About
subtitle: Something about me.
permalink: /about/
---

<h2>About this Blog</h2>
<p>有些话题，比如心得或经验，它们带有较强的主观性，也容易误导别人。这些话题写在一些公开的场合不太方便，因此便有了这个博客。</br>不定时地，我会更新一些心得体会之类的文章，从生活到编程，各种各样都可能会有。如果您对它们有兴趣，欢迎随意阅读；如果它们对您有所帮助，我感到荣幸之至。</p>


<h2>About me</h2>
<p>(由于隐私问题，部分信息被模糊处理，请见谅)</br>你好，我是GWYOG，你也可以称呼我为JJN。前者是"Grow With Young Olympic Games"的缩写，也是当年我为百度贴吧账号随意起的名字；后者则是我现实中名字的汉语拼音首字母缩写。如果可以的话，我更希望别人叫我JJN。</br>在现实中，我是上海某高校的一名大学生，数学与应用数学专业。数学是我的爱好，与此同时，程序设计也是。</br>空闲的时候，我会做一些Minecraft冷门mod的文字教程，也会去汉化一些冷门mod。目前由于种种原因，也在学习mod的编写。</br>一般而言，我使用百度贴吧比较多，若想联系我，私聊贴吧账号GWYOG就可以了。</p>
    <p><ul class="about-list">
		<li>
			<i class="fa fa-twitter"></i><a href="https://twitter.com/{{ site.twitter_username }}"> Twitter</a>
		</li>
		<li>
			<i class="fa fa-github"></i><a href="https://github.com/{{ site.github_username }}"> Github</a>
		</li>
		<li>
			<i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}?subject=Hello&nbsp;{{ site.name }}"> Email</a>
		</li>
	</ul></p>

	{% if site.skillstree %}
	{% include skillstree.html %}
	{% endif %}
