---
layout: page
title: About
subtitle: 关于这个博客和我个人的相关信息.
permalink: /about/
---

<h2>About this Blog</h2>
<p>有些话题，比如心得或经验，它们带有较强的主观性，也容易误导别人。这些话题写在一些公开的场合不太方便，因此便有了这个博客。不定时地，我会更新一些心得体会之类的文章，从生活到编程，各种各样都可能会有。如果您对它们有兴趣，欢迎阅读；如果它们对您有所帮助，荣幸之至。</p>


<h2>About me</h2>
<p>A normal person just wanna see this world. </p>
    <p><ul class="about-list">
		<li>
			<i class="fa fa-twitter"></i><a href="https://twitter.com/{{ site.twitter_username }}"> Twitter</a>
		</li>
		<li>
			<i class="fa fa-github"></i><a href="https://github.com/{{ site.github_username }}"> Github</a>
		</li>
		<li>
			<i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}?subject=Hello&nbsp;{{ site.name }}"> Email</a>
		</li>
	</ul></p>

	{% if site.skillstree %}
	{% include skillstree.html %}
	{% endif %}
